.chkCombo-default-icon {
    width:16px;
    height:16px;
    float:left;
    background-position: 0px 1px ! important;
    background-repeat:no-repeat ! important;
}

.x-boundlist-item img.chkCombo {
    background: transparent url(../images/unchecked.gif);
}
.x-boundlist-selected img.chkCombo{
    background: transparent url(../images/checked.gif);
}

.ux-edit-search-query-actioncolumn-cls
{
  margin-right: 5px;
  background-image: url(../images/cog_edit.png);
}

.ux-show-search-results-actioncolumn-cls
{
  margin-right: 5px;
  background-image: url(../images/grid.png);
}