.chkCombo-default-icon {
    width:16px;
    height:16px;
    float:left;
    background-position: 0px 1px ! important;
    background-repeat:no-repeat ! important;
}

.x-boundlist-item img.chkCombo {
    background: transparent url(../lib/extjs/resources/themes/images/default/menu/unchecked.gif);
}
.x-boundlist-selected img.chkCombo{
    background: transparent url(../lib/extjs/resources/themes/images/default/menu/checked.gif);
}

.ux-edit-search-query-actioncolumn-cls
{
  margin-right: 5px;
  background-image: url(../lib/extjs/examples/shared/icons/fam/cog_edit.png);
}

.ux-show-search-results-actioncolumn-cls
{
  margin-right: 5px;
  background-image: url(../lib/extjs/examples/shared/icons/fam/grid.png);
}

/* Icons for Prior Art Grid */

.ux-error-actioncolumn-cls
{
  margin-right: 5px;
  background-image: url(../lib/extjs/examples/shared/icons/fam/error.png);
}
.ux-open-details-actioncolumn-cls
{
  margin-right: 5px;
  background-image: url(../lib/extjs/examples/shared/icons/fam/application_view_list.png);
}

.ux-pdf-view-actioncolumn-cls
{
  margin-right: 5px;
  background-image: url(../lib/extjs/examples/shared/icons/fam/image_add.png);
}
.ux-add-priot-art-actioncolumn-cls
{
  margin-right: 5px;
  background-image: url(../lib/extjs/examples/shared/icons/fam/book.png);
}
/* Save Prior Art Toolbar button icon css class*/
.ux-add-multi-priot-art-toolbar-btn-cls
{
  margin-right: 5px;
  background-image: url(../lib/extjs/examples/shared/icons/fam/add.png);
}

/* Edit and Remove Buttons */
.ux-add-priot-art-save-action-cls
{
  margin-right: 5px;
  background-image: url(../lib/extjs/examples/shared/icons/fam/save.png);
}
.ux-add-priot-art-delete-action-cls
{
  margin-right: 5px;
  background-image: url(../lib/extjs/examples/shared/icons/fam/delete.gif);
}
.ux-add-priot-art-refresh-action-cls
{
  margin-right: 5px;
  background-image: url(../lib/extjs/examples/shared/icons/fam/refresh.png);
}